{% extends "layout.html" %}
{% block content %}
{% load static %}
        <div id="cover">
            <label>Find the perfect deals for your wonderful vaction</label>
            <div id="searchcontainer">
                <label>search for your trip</label><br>
                <input type="text" name="" placeholder="Destination">
                <input type="text" name="" placeholder="Departure">
                <input type="text" name="" placeholder="Arrival">
                <input type="text" name="" placeholder="Budget">
				<button class="searchbtn">search</button>
			 </div>
        </div>
{% endblock %}
	