<!DOCTYPE HTML>
<html lang="en">
<head>
{% load static %}
	<title>Flights | Gantabbe</title>
	<link href="{% static 'css/style.css ' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
	<header>
		<div id="logo">
			<a href="index.html"><img src="#" alt="Flight and Tour logo" /></a>
		</div>
		<div id="nav">
			<ul>
				<li><a href="index.html" class="current">Flight</a></li>
				<li><a href="packages.html">Packages</a></li>
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="rental.html">Rental Services</a></li>
				<li><a href="news.html">NEWS/Article</a></li>
				<li><a href="explore.html">Explore</a></li>
				<li><a href="tricks.html">Tips & Trick</a></li>
			</ul>
		</div>	
		<div id="nav_sign">
			<ul><li ><a href="login.html">sign in</a></li></ul>
		</div>
	</header>
	<div id="content">
	</div>
	<footer>
		<div id="company">
			<label>Company</label>
			<ul>
				<li>About us</li>
				<li>Careers</li>
				<li>Mobile</li>
				<li>Blog</li>
			<ul>
		</div>
		<div id="contact">
			<label>Contact</label>
			<ul>
				<li>Help/FAQ</li>
				<li>9824346644/01-3423554</li>
				<li>gantabbe_flight2147@gmail.com</li>
				<li>Press</li>
			</ul>
		</div>
		<div id="more">
			<label>More</label>
			<ul>
				<li>Learn More</li>
				<li>subscribe us</li>
				<form>
				</form>
			</ul>
		</div>
	</footer>
</div>
</body>
</html>
