<!DOCTYPE HTML>
<html lang="en">
<head>
	{% load static %}
	<title>Flights | Gantabbe</title>
	<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="content">
        <div id="loginbox">
            <h1>Log into GANTABBE</h1>
            <form  action='/loginpage' method='POST'>
                {% csrf_token %}
                <input type="text" id="email" name="email" placeholder=" Email ">
                <label id="emaillbl">invalid</label>
                <input type="password" id="pwd" placeholder=" Password" name="password">
                <label id="pwdlbl">invalid</label>
                <input type="submit" value="Login"><br>
                <a href="#">forgot password?</a><br>
                <a href="/adminlogin"> admin login</a><br>
            </form>
            <a href="/register" class="create">
                <button>Create Account</button>
            </a>
        </div>
    </div>
</body>
</html>

	