{% extends "dashboard_layout.html" %}
{% block content %}
 {% load static %}
<style>
    .table th{
        box-sizing: border-box;
    }
</style>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>IMAGE</th>
            <th>ACTION</th>
            <th><form action="create_package"><button>Add Packages</button></form></th>
        </tr>
        {% for dest in dests %}
        <tr>
            <td>{{ dest.D_Id }}</td>
            <td>{{ dest.Name }}</td>
            <td>{{ dest.description }}</td>
            <td>{{ dest.price }}</td>
            <td><img height="70px" width="100px" src="{% static '/photo/' %}{{ dest.image }}" /></td>
            <td><a href="/package_edit/{{ dest.D_Id }}">edit</a>|<a href="/package_delete/{{ dest.D_Id }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
<script>
</script>
{% endblock %}