<!DOCTYPE HTML>
<html lang="en">
<head>
	{% load static %}
	<title>Flights | Gantabbe</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
	<div class="content">
			<div class="registerbox">
				<h1>Create a New Account</h1>
				<h2>It's quick and easy.</h2>
				<form action="register" method="post">
                    {% csrf_token %}
					<input type="text" name="first_name" placeholder=" First name">
					<input type="text" name="last_name" placeholder=" Last name">
					<input type="email" name="email" placeholder=" Email">
					<input type="password" name="password1" placeholder=" Password"><br>
					<input type="password" name="password2" placeholder=" Confirm Password"><br>
					<label id="lbl">Gender</label><br></br>
					<input type="radio" name="gender" value="male"> Male
					<input type="radio" name="gender" value="female"> Female
				    <input type="radio" name="gender" value="other"> Other <br>
					<label id="lbl">Date of Birth</label>
					<input type = "date" name="dob"/><br>
					<p id="agreement">
					   By clicking Sign Up, you agree to our Terms, Data Policy and Cookies Policy.
					   You may receive SMS Notifications from us and can opt out any time.
					</p>
					<input type="submit" value="Register">	
				</form>
            </div>
    </div>
</body>
</html>