<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Flights | Gantabbe</title>
	<link href="{% static 'css/style.css ' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
	<header>
		<div id="logo">
			<a href="index.html"><img src="photo/logo.png" alt="Flight and Tour logo" /></a>
		</div>
		<div id="nav">
			<ul>
				<li><a href="index.html" >Flight</a></li>
				<li><a href="packages.html">Packages</a></li>
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="rental.html" class="current">Rental Services</a></li>
				<li><a href="news.html">NEWS/Article</a></li>
				<li><a href="explore.html">Explore</a></li>
				<li><a href="tricks.html">Tips & Trick</a></li>
			</ul>
		</div>	
		<div id="nav_sign">
			<ul><li ><a href="login.html">sign in</a></li></ul>
		</div>
	</header>
	<div id="content">
	</div>
	<footer>
		<h1>My name is razan gurung</h1>
	</footer>
</div>
</body>
</html>