.list-group-item:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.sidebar .list-group-item a {
	text-decoration:none;
	    color: #495057;
}

.sidebar .active a {
	color:white
}
.create{
    width:580px;
	height:300px;
	background-color:rgba(247,247,245,0.9);
	position:relative;
	transform:translate(40%,30%);
	box-sizing:border-box;
	padding:50px 0 0 50px;
}
.create label{
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
}
.create input[type="text"]{
   margin-left: 20%;
}