body{    
    margin:  0;
    height: auto;
}
#nav{
    background: #282525;
	height:50px;
    width:1214px;
	float:left;
}
#nav ul{
	list-style:none;
}
#nav ul li{
	float:left;
}
#nav ul li a
{
	color: azure;
	text-decoration:none;
	padding:8px;
	font-family:"Helvetica Neue";
	border-radius:10px;
	font-size:18px;
}
#nav_sign{
	width:135px;
	height:50px;
	float:right;
    background: #282525;
}
#nav_sign ul{
	list-style:none;
}
#nav_sign ul li{
	float:left;
}
#nav_sign ul li a
{
color: azure;
text-decoration:none;
font-family:"Helvetica Neue";
font-size:18px;
}
#nav ul li:hover > ul
{
display: block;
}
#nav ul li a:hover
{
color:#ff00ff;
text-decoration:underline;
}
#nav_sign ul li:hover > ul
{
display: block;
}
#nav_sign ul li a:hover
{
color:#D3080B;
text-decoration:underline;
}
#nav ul li a.current
{
    color: #fff;
    font-weight:bold;
}
#cover{
    background-image: url('cover.jpg'); 
    background-size: cover;
    height: 600px;
}
#cover img{
    max-height: 100%;
    max-width: 100%;
}
#cover label{
    color: aliceblue;
    font-family: Arial;
    text-decoration: none;
    margin-left: 200px;
    font-size: 40px;
}
#searchcontainer
{
	height:60px;
	width:1000px;
	margin:300px 0 0 260px;
}
#searchcontainer label
{
    color: #000;
    font-family: serif;
    font-size: 30px;padding-left: 90px;
}
#searchcontainer input[type="text"]
{
	float:left;
	height:70%;
	outline:none;
	padding:3px;
	outline:none;
	transition:1s all;
	color:#000;
    background: #fff;
}
.searchbtn
{
	position:absolute;
	width:100px;
	height:53px;
	border:#00b4cc;
	text-align:center;
	cursor:pointer;
	font-size:30px;
	background-color:rgba(0, 0, 0,0.8);
	color:#FFF;
    border-radius:0 10px 10px  0 ;
}
.package{
    background: red;
    height: 400px;
    width:400px;
    margin: 0px 30px;
}
#content {
	margin-bottom:50px;
	float:left;
}
#loginbox{
	width:580px;
	height:320px;
	background-color:rgba(247,247,245,0.9);
	color:#fff;
	position:relative;
	transform:translate(65%,10%);
	box-sizing:border-box;
	padding:30px 20px 0 0;
}
h1{
	margin:0;
	padding:0 0 15px 15px;
	text-align: center;
	font-size:22px;
	color:#000;
}
#loginbox input{
	width:330px;
	margin-bottom:15px;
}
#loginbox input[type="text"], input[type="password"]
{
	border:none;
	border-bottom:1px solid #fff;
	outline:none;
	color:#000;
	height:30px;
	font-size:16px;
	margin-left:130px;
	border-radius:5px;
}
#loginbox input[type="submit"]
{
	border:none;
	outline:none;
	height:35px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	margin-left:130px;
	border-radius:5px;
}
#loginbox input[type="submit"]:hover
{
	cursor:pointer;
	background:#ffc107;
	color:#000;
} 
#loginbox a{
	text-decoration:none;
	font-size:12px;
	color:darkgrey;
	margin-left:250px;
}
#loginbox a:hover
{
	color: #ffc107;
}
#loginbox a.create{
	margin-left:0px;
}
#loginbox button{
	margin-left:225px;
	height:30px;
	background:green;
	outline:none;
	border:none;
	color:#fff;
	font-size:18px;
	border-radius:5px;
}
#loginbox button:hover
{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}
#emaillbl{
    color: red;
	visibility: hidden;
}
#pwdlbl{
    color: red;
	visibility: hidden;
}
.registerbox{
	width:580px;
	height:540px;
    position:relative;
	background-color:rgba(247,247,245,0.9);
	box-sizing:border-box;
    margin-left: 400px;
    transform: translate(0%,15%);
}
h1{
	margin:0;
	padding:0 0 15px 15px;
	text-align: center;
	font-size:22px;
	color:#000;
}
h2{
	margin:0;
	padding:0 0 15px 15px;
	text-align: center;
	font-size:15px;
	color:#000;
}
.registerbox input{
	margin-bottom:15px;
}
.registerbox input[name="first_name"]{
	border:none;
	border-bottom:1px solid #fff;
	outline:none;
	color:#000;
	height:30px;
	font-size:16px;
	margin-left:70px;
	border-radius:5px;
	width:200px;
}
.registerbox input[name="last_name"]{
	border:none;
	border-bottom:1px solid #fff;
	outline:none;
	color:#000;
	height:30px;
	font-size:16px;
	margin-left:10px;
	border-radius:5px;
	width:200px;
}
.registerbox input[name="email"]
{
	border:none;
	border-bottom:1px solid #fff;
	outline:none;
	color:#000;
	height:30px;
	font-size:16px;
	margin-left:70px;
	border-radius:5px;
	width:415px;
}
.registerbox input[type="password"]
{
	border:none;
	border-bottom:1px solid #fff;
	outline:none;
	color:#000;
	height:30px;
	font-size:16px;
	margin-left:70px;
	border-radius:5px;
	width:415px;
}
.registerbox input[type="submit"]
{
	border:none;
	outline:none;
	height:35px;
	width:150px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	margin-left:70px;
	border-radius:5px;
}
.registerbox input[type="date"]
{
	border:none;
	border-bottom:1px solid #fff;
	outline:none;
	color:#000;
	height:30px;
	font-size:16px;
	margin-left:10px;
	border-radius:5px;
	width:320px;
}
.registerbox input[type="submit"]:hover
{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}
.registerbox a{
	text-decoration:none;
	font-size:12px;
	color:darkgrey;	
	margin-left:240px;
}
.registerbox a:hover
{
	color: #ffc107;
}
#lbl{
	color:#000;
	margin-left:70px;
}
#agreement{
	margin-left:70px;
	margin-right:70px;
	font-size:13px;
	color:#000;
}
.registerbox input[type="radio"]{
	margin-left:70px;
}
#content .photos
{
height: 180px;
width: 270px;
border: 5px inset gold;
box-shadow: #000 5px 5px 5px;
float: left;
margin:20px;
position:relative;
display: block;
box-sizing:border-box;
}
#content .photos .show-photo 
{
height: 180px;
width: 270px;
position:relative;
}
#content .photos .show-photo img
{
	height:170px;
	width:260px;
	transition:transform 2s;
}
#content .photos:hover .show-photo img
{
transform:scale(1.2);
}
#content .photos .details
{
	position:absolute;
	top:100px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:rgba(0,0,0,0.4);
	color:#FFF;
	font-size:20px;
	text-align:center;
	display:none;
}
#content .photos:hover .details
{
	display:block;
}
footer{
	background:rgba(0,0,0,0.3);
	float:left;
	margin-top:10px;
}
#company{
	margin-left:200px;
	width:350px;
	float:left;
}
#company ul{
	list-style:none;
}
#company ul li{
	margin-left:-30px;  
}
#company ul li a{
    color: #000;
}
#contact{
	width:370px;
	float:left;
}
#contact ul{
	list-style:none;
}
#contact ul li{
	margin-left:-30px;
}
#contact ul li a{
    color: #000;
}
#more{
	width:300px;
	float:left;
	margin-right:100px;
}
#more ul{
	list-style:none;
}
#more ul li{
	margin-left:-30px;
}
#more ul li a{
    color: #000;
}
.footer_label{
	font-size:20px;
}
#more form{
	margin-left:-30px;
	margin-top:5px;
}
#more form button{
	background:red;
	margin-top:5px;
}
#social_media{
	float:left;
	margin-left:500px;
}
#social_media img{
	height:50px;
	width:50px;
}
#social_media label{
	margin-right:5px;
}
#copyright
{
    width:1300px    ;
	height:30px;
	float:left;
	margin-top:15px;
}
#copyright label{
	padding-left:570px;
}
#copyright p{
	font-size:11px;
	float:right; 
}
#copyright p a{
    color:#000;
}








